<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chinchilla</title>
	<link id="favicon" rel="shortcut icon" type="image/png" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/api/script/underscore"></script>
	<script src="/api/script/helpers"></script>	
	<script src="/api/script/fetchFeeds"></script>
	<script src="/api/script/navigation"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/api/script/notifications"></script>
	<script src="/api/script/sockets"></script>
	<script src="/api/script/swig"></script>
	<script src="/api/script/templates"></script>
	<script src="/api/script/player"></script>
	<script src="/api/script/search"></script>
	<script src="/api/script/import"></script>
	<script src="/api/script/UI"></script>
	<script src="/api/script/errors"></script>
	<script src="/api/script/recognition"></script>
	<script src="/api/script/swfobject"></script>
	<script src="/api/script/library"></script>
	<script src="/api/script/pubsub"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/api/styles/main">
</head>
<body>
	<div id="sidebar">
		<div id="sidebar-player">
			<div id="queue"></div>
			<img src="" width='224' height='224' id='nowplaying-image'>
			<div id="seek-bar">
				<div id="seek-progress"></div>
			</div>
			<div id="player-controls">
				<div id="rewind">
					<div class="arrow-left"></div>
					<div class="arrow-left"></div>
				</div>
				<div id="play">
					<div class="arrow-right"></div>
				</div>
				<div id="pause">
					<div class="vertical-bar"></div>
					<div class="vertical-bar"></div>
				</div>
				<div id="skip">
					<div class="arrow-right"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div id="time-left">0:00</div>
		<div id="time-right">0:00</div>
		<p class="nowplaying-info" id="track-title"><a></a></p>
		<p class="nowplaying-info" id="track-artist"><a></a></p>
		<p class="nowplaying-info" id="track-album"><a></a></p>
		<input type="text" id="search-field" placeholder="Search for songs or artists">
		<div id="clear-input">x</div>
		<div id="search-results">
			<h1><span>Songs</span></h1>
			<div id="results-tracks"></div>
			<h1><span>Artists</span></h1>
			<div id="results-artists"></div>
			<h1><span>Albums</span></h1>
			<div id="results-albums"></div>
		</div>
		<ul>
			<h2>My music</h2>
			<li data-navigate="/home"><a><img src="/api/svg/house">Home</a></li>
			<li data-navigate="/library"><a><img src="/api/svg/music">Library</a></li>
			<h2>Playlists</h2>
			<li class="add-new-playlist"><a><img src="/api/svg/plus">New playlist</a></li>
			<div class="new-playlist-input">
				<input type="text" class="new-playlist-input-field">
			</div>
			<div class="playlists-menu">
				{% for playlist in collection.playlists %}
					{% include templates.playlistmenuitem %}
				{% endfor %}
			</div>
			<h2>Discover</h2>
			<li data-navigate="/charts"><a><img src="/api/svg/star">Charts</a></li>
			<li data-navigate="/reddit"><a><img src="/api/svg/upvote">Reddit</a></li>
			<!--- <li data-navigate="/about"><a><img src="/api/svg/info">About</a></li> -->
			<h2>Tunechilla</h2>
			<li data-navigate="/settings"><a><img src="/api/svg/settings">Settings</a></li>
		</ul>
		{% if user %}
		<div id="signed-in">
			<img src="http://graph.facebook.com/{{user.id}}/picture" id="profile-image">
			<p id="name">{{user.first}} <span id="logout"><a href="/logout">(Logout)</a></span></p>
		</div>
		{% else %}
		<div id="register"><a href="/auth/facebook">Login with Facebook</a></div>
		{% endif %}
	</div>
	<div id="view">
		<div class="loading-indicator">
			<div class="spinner"></div>
		</div>
	</div>
	<div id="dropfiles">

	</div>
	<div id="dropfilescontent">
		<h1>Drop your music here</h1>
		<p>You can drag MP3 files or Spotify music.</p>
		<p>Your music will be added to your library.</p>
	</div>
	<div id="ytplayer" style="opacity: 0; position: absolute; z-index: -3; top: -3000px">
		<div id="ytapiplayer">
  		</div>
		<script>
			function onYouTubePlayerReady(playerId) {
				ytplayer = document.getElementById("myytplayer");
				player.setUpEvents();
				var shouldLoad = player.nowPlaying.get();
				if (shouldLoad) {
					player.playSong(shouldLoad, true);
					player.drawQueue();
					$('#player').removeClass('loading-player');
				}
			}
            var params = { allowScriptAccess: "always" };
            var atts = { id: "myytplayer" };
            swfobject.embedSWF("http://www.youtube.com/v/dFVxGRekRSg?enablejsapi=1&playerapiid=ytplayer&version=3", "ytapiplayer", "425", "356", "8", null, null, params, atts);
    </script>
    <script>
    	
    	chinchilla = {
    		loggedin: {% if user %} true,
    		token: '{{user.token}}' {% else %} false {% endif %},
    		settings: {% if user %} {
    			{% for setting in user.settings %}
    			{{setting.key}}: {{setting.value}} {% if !loop.last %}, {% endif %}
    			{% endfor %}
    		}{% else %} false{% endif %}
    	}
    </script>
	</div>
	<div id="notifications"></div>
</body>
</html>