{% if artist %}
	<div class="coverstack nomargin">
		<div class="covers">
			{% for song in coverstack %}<img src="{{song.image}}" border="0">{% endfor %}
		</div>
	</div>
	<h1 class="oncoverstack">{{artist.name}}</h1>

<table class="artist-page-table artist-container" data-id="{{artist.id}}">
	<tr>
		<td class="artist-album-container">
			<h2><span>Albums</span></h2>
			<section class="album-list" data-resource="https://itunes.apple.com/lookup?id={{artist.id}}&entity=album">
				{% if albums %}
					{% for album in albums %}
						{% include albumtemplate %}
					{% endfor %}
				{% endif %}
			</section>
		</td>
		<td class="album-tracklist">
			<section class="tracks">
				<h2><span>Tracks</span></h2>
				<div class="table-wrapper">
					{% include tracklist %}
				</div>
			</section>
		</td>
	</tr>
</table>
{% else %}
	<h1>No artist found.</h1>
{% endif %}