<div class="coverstack nomargin">
	<div class="covers">
		{% for track in coverstack %}<img src="{{track.image}}" border="0">{% endfor %}
	</div>
</div>

<h1 class="oncoverstack">Best selling tracks</h1>
<div class="playlistdescription">
	<button class="play-all-songs">
		<img src="/api/i/pixel" class="list-header-play-icon svg-shuffle-black"><span>Shuffle play</span>
	</button>
	<button class="retro-charts" onclick="navigation.to('/retro-charts/2012')">
		<img src="/api/i/pixel" class="list-header-play-icon svg-retro-black"><span>Retro charts</span>
	</button>
</div>
<div class="extendedtable">
	<div class="album-tracks">
		{% include templates.tracklist %}
	</div>
</div>
<p class="attribution">Source: iTunes</p>