<!doctype html>
{% if user || allowed %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tunechilla</title>
	<link id="favicon" rel="shortcut icon" type="image/png" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/idbwrapper/1.1.0/idbstore.min.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
	<!--
	<script src="/api/script/underscore"></script>
	<script src="/api/script/helpers"></script>
	<script src="/api/script/fetchFeeds"></script>
	<script src="/api/script/navigation"></script>
	<script src="/api/script/socket.io"></script>
	<script src="/api/script/notifications"></script>
	<script src="/api/script/sockets"></script>
	<script src="/api/script/swig"></script>
	<script src="/api/script/templates"></script>
	<script src="/api/script/player"></script>
	<script src="/api/script/search"></script>
	<script src="/api/script/add-tracks"></script>
	<script src="/api/script/import"></script>
	<script src="/api/script/UI"></script>
	<script src="/api/script/errors"></script>
	<script src="/api/script/recognition"></script>
	<script src="/api/script/swfobject"></script>
	<script src="/api/script/libdom"></script>
	<script src="/api/script/library"></script>
	<script src="/api/script/pubsub"></script>
	-->
	<script src="/api/script/app.min"></script>
	<link rel="stylesheet" href="/api/styles/main">
</head>
<body>
	<div id="statusbar-container">
		<div id="statusbar"></div>
	</div>
	<div id="sidebar">
		<div id="sidebar-player">
			<div id="queue"></div>
			<img src="" width='224' height='224' id='nowplaying-image'>
			<img src="" width='224'	height='224' id='nowplaying-image2'>
			<div id="seek-bar">
				<div id="seek-progress"></div>
			</div>
			<div id="player-controls">
				<div id="rewind">
					<div class="arrow-left"></div>
					<div class="arrow-left"></div>
				</div>
				<div id="play">
					<div class="arrow-right"></div>
				</div>
				<div id="pause">
					<div class="vertical-bar"></div>
					<div class="vertical-bar"></div>
				</div>
				<div id="skip">
					<div class="arrow-right"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div id="time-left">0:00</div>
		<div id="time-right">0:00</div>
		<p class="nowplaying-info npinfo-first" id="track-title"><a></a></p>
		<p class="nowplaying-info" id="track-artist"><a></a></p>
		<p class="nowplaying-info" id="track-album"><a></a></p>
		<input type="text" id="search-field" placeholder="Search for songs or artists">
		<div id="clear-input">x</div>
		<div id="search-results">
			<h2>Search results
				<span id="search-spinner">
					<svg width="9" height="9" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
					  	<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#4183ef">
					    	<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="2s" fill="freeze" repeatCount="indefinite" />
					  	</path>
					</svg>
				</span>
			</h2>
			<ul id="search-results-wrapper">
				
			</ul>
		</div>
		<ul>
			<h2>My music</h2>
			<li data-navigate="/home"><a><img src="/api/svg/house">Home</a></li>
			<li data-navigate="/library" class="librarymenuitem"><a><img src="/api/svg/music">Library</a></li>
			<h2>Playlists</h2>
			<li class="add-new-playlist"><a><img src="/api/svg/plus">New playlist</a></li>
			<div class="new-playlist-input">
				<input type="text" class="new-playlist-input-field">
			</div>
			<div class="playlists-menu">
				{% for playlist in collection.playlists %}
					{% include templates.playlistmenuitem %}
				{% endfor %}
			</div>
			<h2>Discover</h2>
			<li data-navigate="/charts"><a><img src="/api/svg/star">Charts</a></li>
			<li data-navigate="/reddit"><a><img src="/api/svg/upvote">Reddit</a></li>
			<!--- <li data-navigate="/about"><a><img src="/api/svg/info">About</a></li> -->
			<h2>Tunechilla</h2>
			<li data-navigate="/settings"><a><img src="/api/svg/settings">Settings</a></li>
			{% if user %}
			<h2>{{user.first}} {{user.last}}</h2>
			<li data-navigate="/logout"><a><img src="/api/svg/logout">Logout</a></li>
			{% else %}
			<h2>You</h2>
			<li data-navigate="/login"><a><img src="/api/svg/key">Login with Facebook</a></li>
			{% endif %}
		</ul>
	</div>
	<div id="loading-indicator">
		<svg width="30" height="30" viewBox="0 0 300 300"
     		xmlns="http://www.w3.org/2000/svg" version="1.1">
  			<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#4183ef">
    			<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="2s" fill="freeze" repeatCount="indefinite" />
  			</path>
		</svg>
	</div>
	<div id="view">
	</div>
	<div id="dropfiles">

	</div>
	<div id="dropfilescontent">
		<h1>Drop your music here</h1>
		<p>You can drag MP3 files or Spotify music.</p>
		<p>Your music will be added to <span id="drop-target-label">your library</span>.</p>
	</div>
	<div id="draglabel">Hello</div>
	<div id="ytplayer" style="opacity: 0; position: absolute; z-index: -3; top: -3000px">
		<div id="ytapiplayer">
  		</div>
		<script>
			function onYouTubePlayerReady(playerId) {
				ytplayer = document.getElementById("myytplayer");
				player.setUpEvents();
				var shouldLoad = player.nowPlaying.get();
				if (shouldLoad) {
					player.playSong(shouldLoad, true);
					player.drawQueue();
					$('#player').removeClass('loading-player');
				}
			}
            var params = { allowScriptAccess: "always" };
            var atts = { id: "myytplayer" };
            swfobject.embedSWF("http://www.youtube.com/v/dFVxGRekRSg?enablejsapi=1&playerapiid=ytplayer&version=3", "ytapiplayer", "425", "356", "8", null, null, params, atts);
    </script>
    <script>

    	chinchilla = {
    						loggedin: 		{% if user %} 	true 						{% else %} false 	{% endif %},
    						token: 			{% if user %} 	'{{user.token}}' 			{% else %} false 	{% endif %},
    		{% if user %}	library:  						[{{collection.library}}], 						{% endif %}
    						settings: 		{% if user %} {
    							{% for setting in user.settings %}
    								{{setting.key}}: {{setting.value}} {% if !loop.last %}, {% endif %}
    							{% endfor %}
    						}
    								{% else %} false	{% endif %}
    	}
    </script>
	</div>
	<div id="notifications"></div>


	<script type="text/template" id="template-library">
		<% if (tmpl.user) { %>
			<div class="coverstack nomargin">
				<% _.each(tmpl.coverstack, function(image) { %>
					<img src="<%- image %>" border="0">
				<% }); %>
			</div>
			<h1 class="oncoverstack">Your library</h1>
			<div class="playlistdescription">
				<p class="play-all-songs list-view-button">
					<img src="/api/svg/play" class="list-header-play-icon"><span>Play all</span>
				</p>
				<p class="add-tracks-quickly list-view-button">
					<img src="/api/svg/plus" class="plus-icon"><span>Add tracks</span>
				</p>
				<div class="add-tracks-dropdown">
					<div class="add-tracks-header">
						<input type="text" class="add-tracks-input" autofocus placeholder='Search for songs'>
					</div>
					<div class="add-tracks-results">
			
					</div>
				</div>
			</div>
			<div class="extendedtable">
				<%= tmpl.tracklist %>
			</div>
		<% } else { %>
			You must be logged in to use the library.
		<% } %>
	</script>
	<script type="text/template" id="template-tracklist">
		<div class="album-tracks">
			<% if (tmpl.album.cds) { %>
				<% _.each(tmpl.album.cds, function(cd, key) { %>
					<% if (tmpl.album.cds.length > 1) { %>
						<h1>Disc <%- (key+1) %></h1>
					<% } %>
					<div class="table-wrapper">
						<table>
							<tr>
								<th data-value="menu"></th>
								<th data-value="name" data-order>Name</th>
								<% if (tmpl.showartistalbum) { %>
								<th data-value="artist" data-order>Artist</th>
								<th data-value="album" data-order>Album</th>
								<% } %>
								<th data-value="duration" data-order>Length</th>
							</tr>
								<%= templates.buildSongsInList(cd[key], {showartistalbum: tmpl.showartistalbum}) %>
						</table>
					</div>
				<% }); %>
			<% } else { %>
			<p class="album-loading">No tracks available</p>
			<% } %>
		</div>
	</script>
	<script type="text/template" id="template-song">
	<% _.each(tmpl.cd, function(track) { %>
				<tr class="song
				<% if (track.ytid) { %> recognized <% } else { %> not-recognized <% } %>
				<% if (track.inlib) { %> in-library <% } else { %> not-in-library<% } %>" 
				<% _.each(['album', 'name', 'duration', 'albumid', 'artist', 'artistid', 'image', 'id', 'explicit', 'genre', 'numberinalbum', 'cdinalbum', 'tracks', 'cdcount', 'preview', 'release'], function (key) { %>
					data-<%- key %>='<%- track[key] %>'
					<% }); %> 
					<% if (track.ytid) { %> data-ytid="<%- track.ytid %>" <% } %>

				>
				<td class="inline-actions">
					<% if (chinchilla.loggedin) { %>
					<div class="heart"></div>
					<% } %>
				</td>
				<td><% if (tmpl.type == 'home') { %> <%- helpers.parsetext(track.artist) %> - <% } %> <%= helpers.parsetext(track.name) %></td>
				<% if (tmpl.showartistalbum) { %>
					<td class="table-artist"><a data-navigate="/artist/<%= track.artistid %>"><%= track.artist %></a></td>
					<td class="table-album"><a data-navigate="/album/<%= track.albumid %>"><%= helpers.parsetext(track.album) %></a></td>
				<% } %>
				<td> <%= helpers.parsetime(track.duration) %></td>
			</tr>
		<% }); %>
	</script>
</body>
</html>
{% else %}
	{% if block %}
		<p style="padding: 5px; background: rgb(249, 237, 190); color: black; text-align: center;">{{block}}</p>
	{% endif %} 
	{% include startup %}
{% endif %}