<!doctype html>
{% if user || allowed %}
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/"
xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="UTF-8">
	<title>Tunechilla</title>
	<link id="favicon" rel="shortcut icon" type="image/png" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	{% if live %}
	<script src="/api/script/app.min"></script>
	{% else %}
	<script src="http://localhost:35729/livereload.js"></script>
	<script src="/api/script/app"></script>
	{% endif %}
	{% autoescape false %}
		{{metatags}}
	{% endautoescape %}
	<link rel="stylesheet" href="/api/styles/main">
</head>
<body>
	<div id="statusbar-container">
		<div id="statusbar"></div>
	</div>
	<div id="sidebar">
		<div id="sidebar-player">
			<div id="queue"></div>
			<img src="" width='224' height='224' id='nowplaying-image'>
			<img src="" width='224'	height='224' id='nowplaying-image2'>
			<div id="seek-bar">
				<div id="seek-progress"></div>
			</div>
			<div id="player-controls">
				<div id="rewind">
					<div class="arrow-left"></div>
					<div class="arrow-left"></div>
				</div>
				<div id="play">
					<div class="arrow-right"></div>
				</div>
				<div id="pause">
					<div class="vertical-bar"></div>
					<div class="vertical-bar"></div>
				</div>
				<div id="skip">
					<div class="arrow-right"></div>
					<div class="arrow-right"></div>
				</div>
			</div>
		</div>
		<div id="time-left">0:00</div>
		<div id="time-right">0:00</div>
		<p class="nowplaying-info npinfo-first" id="track-title"><a></a></p>
		<p class="nowplaying-info" id="track-artist"><a></a></p>
		<p class="nowplaying-info" id="track-album"><a></a></p>
		<input type="text" id="search-field" placeholder="Search for songs or artists">
		<div id="clear-input">x</div>
		<div id="search-results">
			<h2>Search results
				<span id="search-spinner">
					<svg width="9" height="9" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
					  	<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#4183ef">
					    	<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="2s" fill="freeze" repeatCount="indefinite" />
					  	</path>
					</svg>
				</span>
			</h2>
			<ul id="search-results-wrapper">
				
			</ul>
		</div>
		<ul>
			<h2>My music</h2>
			<li data-navigate="/home"><a><img src="/api/i/pixel" class="svg-house-black">Home</a></li>
			<li data-navigate="/library" class="librarymenuitem"><a><img src="/api/i/pixel" class="svg-music-black">Library</a></li>
			<h2>Playlists</h2>
			<li class="add-new-playlist"><a><img src="/api/i/pixel" class="svg-plus-black">New playlist</a></li>
			<div class="new-playlist-input">
				<input type="text" class="new-playlist-input-field">
			</div>
			<div class="playlists-menu">
				{% for playlist in collection.playlists %}
					{% include templates.playlistmenuitem %}
				{% endfor %}
			</div>
			<h2>Discover</h2>
			<li data-navigate="/charts"><a><img src="/api/i/pixel" class="svg-star-black">Charts</a></li>
			<li data-navigate="/reddit"><a><img src="/api/i/pixel" class="svg-upvote-black">Reddit</a></li>
			<h2>Tunechilla</h2>
			<li data-navigate="/settings"><a><img src="/api/i/pixel" class="svg-wheel-black">Settings</a></li>
			<li data-navigate="/info"><a><img src="/api/i/pixel" class="svg-info-black">Info</a></li>
			{% if user %}
			<h2>{{user.first}} {{user.last}}</h2>
			<li data-navigate="/logout"><a><img src="/api/i/pixel" class="svg-logout-black">Logout</a></li>
			{% else %}
			<h2>You</h2>
			<li data-navigate="/login"><a><img src="/api/i/pixel" class="svg-key-black">Login with Facebook</a></li>
			{% endif %}
		</ul>
		<h2>Like it on Facebook</h2>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=212482748876564";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" style="padding-left: 15px" data-href="http://facebook.com/tunechilla" data-layout="button_count" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
	</div>
	<div id="loading-indicator">
		<svg width="30" height="30" viewBox="0 0 300 300"
     		xmlns="http://www.w3.org/2000/svg" version="1.1">
  			<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#4183ef">
    			<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="2s" fill="freeze" repeatCount="indefinite" />
  			</path>
		</svg>
	</div>
	<div id="view">
	</div>
	<div id="dropfiles">

	</div>
	<div id="dropfilescontent">
		<h1>Drop your music here</h1>
		<p>You can drag MP3 files or Spotify music.</p>
		<p>Your music will be added to <span id="drop-target-label">your library</span>.</p>
	</div>
	<div id="draglabel">Hello</div>
	<div id="ytplayer" style="opacity: 0; position: absolute; z-index: -3; top: -3000px">
		<div id="ytapiplayer">
  		</div>
		<script>
			function onYouTubePlayerReady(playerId) {
				ytplayer = document.getElementById("myytplayer");
				player.setUpEvents();
				var shouldLoad = player.nowPlaying.get();
				if (shouldLoad) {
					player.playSong(shouldLoad, true);
					player.drawQueue();
					$('#player').removeClass('loading-player');
				}
			}
            var params = { allowScriptAccess: "always" };
            var atts = { id: "myytplayer" };
            swfobject.embedSWF("http://www.youtube.com/v/dFVxGRekRSg?enablejsapi=1&playerapiid=ytplayer&version=3", "ytapiplayer", "425", "356", "8", null, null, params, atts);
    </script>
    <script>

    	chinchilla = {
    						loggedin: 		{% if user %} 	true 						{% else %} false 	{% endif %},
    						user: 			{% if user %}	{{user.id}}					{% else %} null 	{% endif %},
    						token: 			{% if user %} 	'{{user.token}}' 			{% else %} false 	{% endif %},
    		{% if user %}	library:  						[{{collection.library}}], 						{% endif %}
    		{% if user %}	playlists: 						{% autoescape false %}{{playlists}}{%endautoescape%},{% endif %}
    						settings: 		{% if user %} {
    							{% for setting in user.settings %}
    								{{setting.key}}: {{setting.value}} {% if !loop.last %}, {% endif %}
    							{% endfor %}
    						}
    								{% else %} false	{% endif %}
    	}
    </script>
	</div>
	<div id="notifications"></div>
<script type="text/template" id="template-library">
		<% if (tmpl.user) { %>
			<div class="coverstack nomargin">
				<div class="covers">
					<% _.each(tmpl.coverstack, function(image) { %>
						<img src="<%- image %>" border="0">
					<% }); %>
				</div>
			</div>
			<h1 class="oncoverstack">Your library</h1>
			<div class="playlistdescription">
				<p class="playlist-info">
				  <% if (tmpl.trackcount) { %>
					<span class="playlist-trackcount"><%- tmpl.trackcount %></span> <span class="playlist-plural-singular-tracks"><% if (tmpl.trackcount == 1) { %>track<% } else { %>tracks<% } %></span> - <span data-duration="<%- tmpl.rawduration %>" class="playlist-duration"><%- tmpl.duration %></span>
				  <% } else { %>
					<span class="playlist-trackcount">0</span> <span class="playlist-plural-singular-track">tracks</span> - <span data-duration="0" class="playlist-duration">0 minutes</span>
				  <% } %>
				</p>
				<button class="play-all-songs">
					<img src="/api/i/pixel" class="list-header-play-icon svg-shuffle-black"><span>Shuffle play</span>
				</button>
				<button class="add-tracks-quickly">
					<img class="plus-icon svg-plus-black" src="/api/i/pixel"><span>Add tracks</span>
				</button>
				<div class="add-tracks-dropdown">
					<div class="add-tracks-header">
						<input type="text" class="add-tracks-input" autofocus placeholder='Search for songs'>
					</div>
					<div class="add-tracks-results">
			
					</div>
				</div>
				<button class="show-filter-dropdown">
					<img class="filter-icon svg-filter-black" src="/api/i/pixel"><span>Filter tracks</span></img>
				</button>
				<div class="filter-dropdown">

				</div>
			</div>
			<div class="extendedtable">
				<%= tmpl.tracklist %>
			</div>
		<% } else { %>
			You must be logged in to use the library.
		<% } %>
	</script>

	<script type="text/template" id="template-playlist">
		<div class="coverstack nomargin">
			<div class="covers">
				<% _.each(tmpl.coverstack, function(image) { %>
					<img src="<%- image %>" border="0">
				<% }); %>
			</div>
		</div>
		<h1 class="oncoverstack"><%- tmpl.playlist.name %></h1>
		<div class="playlistdescription coverstack-description">
			<p class="playlist-info">
			  <% if (tmpl.playlist.trackcount) { %>
				<span class="playlist-trackcount"><%- tmpl.playlist.trackcount %></span> <span class="playlist-plural-singular-tracks"><% if (tmpl.playlist.trackcount == 1) { %>track<% } else { %>tracks<% } %></span> - <span data-duration="<%- tmpl.playlist.rawduration %>" class="playlist-duration"><%- tmpl.playlist.duration %></span>
			  <% } else { %>
				<span class="playlist-trackcount">0</span> <span class="playlist-plural-singular-track">tracks</span> - <span data-duration="0" class="playlist-duration">0 minutes</span>
			  <% } %>
			</p>
			<button class="play-all-songs">
				<img class="list-header-play-icon svg-shuffle-black" src="/api/i/pixel"><span>Shuffle play</span>
			</button>
			<button class="add-tracks-quickly">
				<img class="plus-icon svg-plus-black" src="/api/i/pixel"><span>Add tracks</span>
			</button>
			<div class="add-tracks-dropdown">
				<div class="add-tracks-header">
					<input type="text" class="add-tracks-input" autofocus placeholder='Search for songs'>
				</div>
				<div class="add-tracks-results">
					
				</div>
			</div>
			<button>
				<img class="filter-icon svg-filter-black" src="/api/i/pixel"><span>Filter tracks</span></img>
			</button>
			<div class="filter-dropdown">

			</div>
			<button class="playlist-privacy">
				<img class="lock-icon svg-wheel-black" src="/api/i/pixel"><span>Settings</span>
			</button>
			<div class="playlist-options-dropdown"></div>
		</div>
		<div class="extendedtable">
			<div class="album-tracks">
				<%= tmpl.tracklist %>
			</div>
		</div>	
	</script>

	<script type="text/template" id="template-tracklist">
		<div class="album-tracks">
			<% if (tmpl.album.cds) { %>
				<% _.each(tmpl.album.cds, function(cd, key) { %>
					<% if (tmpl.album.cds.length > 1) { %>
						<h1>Disc <%- (key+1) %></h1>
					<% } %>
					<div class="table-wrapper">
						<table>
							<tr>
								<th data-value="menu"></th>
								<th data-value="name" data-order>Name</th>
								<% if (tmpl.showartistalbum) { %>
								<th data-value="artist" data-order>Artist</th>
								<th data-value="album" data-order>Album</th>
								<% } %>
								<th data-value="duration" data-order>Length</th>
							</tr>
								<%= templates.buildSongsInList(cd[key], {showartistalbum: tmpl.showartistalbum}) %>
						</table>
					</div>
				<% }); %>
			<% } else { %>
			<p class="album-loading">No tracks available</p>
			<% } %>
		</div>
	</script>
	<script type="text/template" id="template-song">
	<% _.each(tmpl.cd, function(track) { %>
				<tr class="song
				<% if (track.ytid) { %> recognized <% } else { %> not-recognized <% } %>
				<% if (track.inlib) { %> in-library <% } else { %> not-in-library<% } %>" 
				<% _.each(['album', 'name', 'duration', 'albumid', 'artist', 'artistid', 'image', 'id', 'explicit', 'genre', 'numberinalbum', 'cdinalbum', 'tracks', 'cdcount', 'preview', 'release'], function (key) { %>
					data-<%- key %>='<%- track[key] %>'
					<% }); %> 
					<% if (track.ytid) { %> data-ytid="<%- track.ytid %>" <% } %>

				>
				<td class="inline-actions">
					<% if (chinchilla.loggedin) { %>
					<div class="heart"></div>
					<% } %>
				</td>
				<td><% if (tmpl.type == 'home') { %> <%- helpers.parsetext(track.artist) %> - <% } %> <%= helpers.parsetext(track.name) %></td>
				<% if (tmpl.showartistalbum) { %>
					<td class="table-artist"><a data-navigate="/artist/<%= track.artistid %>"><%= track.artist %></a></td>
					<td class="table-album"><a data-navigate="/album/<%= track.albumid %>"><%= helpers.parsetext(track.album) %></a></td>
				<% } %>
				<td> <%= helpers.parsetime(track.duration) %></td>
			</tr>
		<% }); %>
	</script>
	<script type="text/template" id="template-contextmenu">
		<div class="context-tip">
			<img src="<%= helpers.getHQAlbumImage(tmpl.song, 225) %>" onload="$(this).removeClass('image-op0')" class="image-op0">
			<h1><a data-navigate="/song/<%= tmpl.song.id %>"><%= tmpl.song.name %></a></h1>
			<h2><a data-navigate="/artist/<%= tmpl.song.artistid %>"><%= tmpl.song.artist %></a></h2>
		</div>
		<div class="contextmenu-arrow"></div>
		<div class="context-options">
			<div data-id="<%= tmpl.song.id %>" class="findandplay">Play</div>
			<div data-id="<%= tmpl.song.id %>" class="findandqueue">Queue</div>
			<a data-navigate="/song/<%= tmpl.song.id %>">
				<div>Song page</div>
			</a>
			<% if (tmpl.loggedin) { %>
				<div data-id="<%= tmpl.song.id %>" class="<% if (tmpl.inlib) { %> library-remove-button <% } else { %> library-button <% } %>"><% if (tmpl.inlib) { %>Remove from library<% } else { %>Add to library<% } %></div>
				<div data-id="<%= tmpl.song.id %>" class="contextmenu-add-to-playlist">Playlists...</div>
			<% } %>
			<div data-navigate="/lyrics/<%= tmpl.song.id %>">Lyrics</div>
		</div>
		<% if (!tmpl.loggedin)  { %>
			<div class="footnote">
				Login to see more options 
			</div>
		<% } %>
	</script>
</body>
</html>
{% else %}
	{% if block %}
		<p style="padding: 5px; background: rgb(249, 237, 190); color: black; text-align: center;">{{block}}</p>
	{% endif %} 
	{% include startup %}
{% endif %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42803478-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>