{% if user %}
<div class="coverstack nomargin">
	{% for image in coverstack %}<img src="{{image}}" border="0">{% endfor %}
</div>
<h1 class="oncoverstack">Your library</h1>
<div class="playlistdescription">
	<p class="add-tracks-quickly list-view-button">
		<img src="/api/svg/plus" class="plus-icon"><span>Add tracks</span>
	</p>
	<div class="add-tracks-dropdown">
		<div class="add-tracks-header">
			<input type="text" class="add-tracks-input" autofocus placeholder='Search for songs'>
		</div>
		<div class="add-tracks-results">
			
		</div>
	</div>
</div>
<div class="extendedtable">
	<div class="album-tracks">
		{% include templates.tracklist %}
	</div>
</div>
{% else %}
	{% include templates.login %}
{% endif %}