<div class="home-container">
	{% if !user %}
		<h1>Welcome to <span class="tunechilla">tunechilla</span></h1>
		<p>Double-click to play, right-click to see more options!</p>
		<table>
			<tr><td>Without an account, you can:
					<ul>
						<li>Listen to millions of songs</li>
						<li>Play retro charts</li>
						<li>See lyrics</li>
					</ul>
				</td>
				<td>If you login, you can also:
					<ul>
						<li>Save tracks into a library</li>
						<li>Create playlists</li>
					</ul>
					<button class='login-button' onclick="window.location.href='/auth/facebook'" class="facebook">Login with Facebook</button>
					<br>
					<small>No posts to your timeline, no emails, no evil things.</small>
				</td>
			</tr>
		</table>
	{% endif %}
	<div class="home-body">
		{% if user and library.length != 0%}
				<div class="box-wrapper">
					<h3>Newest songs in your library<span class="main-link" data-navigate="/library">Go to library</span></h3>
							{% for reddit in library %}
								{% include templates.redditbox %}
							{% endfor %}
				</div>
		{% endif %}
			<div class="box-wrapper">
				<h3>iTunes Charts<span class="main-link" data-navigate="/charts">Go to charts</span></h3>
				{% for reddit in charts %}
					{% include templates.redditbox %}
				{% endfor %}
			</div>
			<div class="reddit-feature box-wrapper">
				<h3>What's hot on Reddit?<span class="main-link" data-navigate="/reddit">See genres</span></h3>
				{% for reddit in redditsongs %}
					{% include templates.redditbox %}
				{% endfor %}
			</div>
			<div class="main-retro box-wrapper">
				<h3>Popular songs from... {{randomyear}}<span class="main-link" data-navigate="/retro-charts/{{randomyear}}">See full retro charts</span></h3>
				{% for reddit in topanno %}
					{% include templates.redditbox %}
				{% endfor %}
			</div>
	</div>
</div>
