<div class="page-header">
	<h1>Reddit songs (Beta)</h1>
	<div>
		<p>Reddit is a community where you can submit content and upvote/downvote it. The most upvoted tracks from last week are presented here.</p>
		<p><a href="http://reddit.com" target="_blank">http://reddit.com</a></p>
	</div>
</div>
<div class="reddit-page">
	{% for genre in music %}
		<div class="reddit-page-box">
			<div class="reddit-strip">
				
				<h2>{{genre.name}}</h2>
				{% for reddit in genre.songs %}
					{% include templates.redditbox %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>