<div class="reddit-box song{% if reddit.song.ytid %} recognized{% else %} not-recognized{% endif %}{% if reddit.inlib %} in-library {% else %} not-in-library{% endif %}" data-album="{{reddit.song.album}}" data-name="{{reddit.song.name}}" data-index="{{loop.index}}" data-duration="{{reddit.song.duration}}" data-albumid="{{reddit.song.albumid}}" data-artist="{{reddit.song.artist}}" data-artistid="{{reddit.song.artistid}}" data-image="{{reddit.song.image}}" data-id="{{reddit.song.id}}" data-explicit="{{reddit.song.explicit}}" data-genre="{{reddit.song.genre}}" data-numberinalbum="{{reddit.song.numberinalbum}}" data-cdinalbum="{{reddit.song.cdinalbum}}" data-tracks="{{reddit.song.tracks}}" data-cdcount="{{reddit.song.cdcount}}" data-preview="{{reddit.song.preview}}" data-release="{{reddit.song.release}}" {% if reddit.song.ytid %} data-ytid="{{reddit.song.ytid}}" {% endif %}>
	<img src="{{reddit.hqimg}}">
	<div class="reddit-image-actions">
		{% if user %}
		<div class="heart"></div>
		{% endif %}
		<div class="reddit-song-duration">{{parseduration(reddit.song.duration)}}</div>
	</div>
	<div class="reddit-info-box" data-navigate="/track/{{reddit.song.id}}">
		<div class="reddit-song-name">{{reddit.song.name}}</div>
		<div class="reddit-song-artist">{{reddit.song.artist}}</div>
		<div class="reddit-song-upvotes">{{reddit.upvotes}} people upvoted this</div>
	</div>
</div>