<div class="album-tracks">
	{% if album.cds %}
		{% for cd in album.cds %}
			{% if album.cds.length > 1 %}
				<h1>Disc {{loop.key+1}}</h1>
			{% endif %}
			<div class="table-wrapper">
				<table>
					<tr>
						<th data-value="menu"></th>
						<th data-value="name" data-order>Name</th>
						{% if showartistalbum %} 
						<th data-value="artist" data-order>Artist</th>
						<th data-value="album" data-order>Album</th>
						{% endif %}
						<th data-value="duration" data-order>Length</th>
					</tr>
						{% include templates.song %}
				</table>
			</div>
		{% endfor %}
	{% else %}
	<p class="album-loading">No tracks available</p>
	{% endif %}
</div>